.one, .three, .five {
  width: 20px;
  margin: 2rem;
}

.two, .four, .six {
  width: 40px;
  padding: 1rem;
}

.one {
    animation-name: one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes one {
    0%   { transform: translate(0, 400px); }
    50%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 100px);
      opacity: 0;
    }
}
.two {
    animation-name: two;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes two {
    0%   { transform: translate(0, 400px); }
    75%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.three {
    padding-top: 200px;
    animation-name: three;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes three {
    0%   { transform: translate(0, 100px); }
    75%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.four {
    padding-top: 200px;
    animation-name: four;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes four {
    0%   { transform: translate(0, 200px); }
    50%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 50px);
      opacity: 0;
    }
}
.five {
    animation-name: five;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes five {
    0%   { transform: translate(0, 300px); }
    50%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 25px);
      opacity: 0;
    }
}
.six {
    animation-name: six;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes six {
    0%   { transform: translate(0, 300px); }
    50%  {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, 50px);
      opacity: 0;
    }
}
