#gradient {
    z-index: -100;
}

.organizers { margin-left: 4rem; }
.organizers p {
  margin: 0.25rem 0;
}

.backoffice h3 { margin-top: 1rem; }
.backoffice p {
  margin: 0.25rem 0;
}
.centered { text-align: center; }
.bg-light-grey { background-color: snow; }

.people a { border-bottom: none !important; }
.btn-cta a { border-bottom: .25rem solid #e25f7d !important; }
.btn-cta a:hover, .people a:hover { box-shadow: none !important; }
