.grey { color: #2c3437; }
.grey-tint-80 { color: #414b4d; }
.grey-tint-60 { color: #676d6f; }
.grey-tint-40 { color: #5b6667; }
.grey-tint-20 { color: #8c9498; }

.green { color: #46722b; }
.green-tint-80 { color: #588c38; }
.green-tint-60 { color: #83c05e; }
.green-tint-40 { color: #6ba845; }
.green-tint-20 { color: #99db70; }

.pink { color: #ae3951; }
.pink-tint-80 { color: #c0415b; }
.pink-tint-60 { color: #e25f7d; }
.pink-tint-40 { color: #cd4e6a; }
.pink-tint-20 { color: #e7879d; }
