#mc_embed_signup form { padding: 0; }
#mc_embed_signup form .asterisk { color: #e25f7d; }

#mc_embed_signup .button {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    height: 3rem;
    border: 3px solid black;
    border-radius: 0;
    background-color: white;
}
