.grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 2rem 2rem;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
}

@media screen and (min-width: 30em) {
    .grid { grid-template-columns: 6rem auto 6rem; }
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
    display: grid;
    grid-gap: 1rem 1rem;
}

footer {
    grid-area: footer;
}

.grid-2 {
    display: grid;
    grid-gap: 1em 1em;
}

.article {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
