@import url('https://fonts.googleapis.com/css?family=Halant:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i');
@import url('basics.css');
@import url('grid.css');
@import url('nav.css');
@import url('form.css');
@import url('typo.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', Helvetica, Arial, Sans-Serif;
    line-height: 1.5rem;
    color: #2c3437;
}

::selection {
    background-color: rgba(231,135,157,0.2);
}
