nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    display: flex;
    background-color: white;
    border-bottom: 2px solid #e7879d;
}

.nav-up { top: -120px; }

.nav-bar { display: none; }
.nav-menu { display: block; }
.nav-menu-options { display: none; }

/* Show Menu Options */
.nav-menu:hover .nav-menu-options {
    display: block;
    position: absolute;
    left: 0;
    width: 100vw;
    padding: .5rem 0;
    font-weight: bold;
    background-color: white;
    border-top: 2px solid #e7879d;
}

.nav-menu .nav-menu-options a:hover {
    font-weight: bold;
    color: #0F2343;
    background-color: rgba(231,135,157,0.25);
}

@media screen and (min-width: 52em) {
    .nav-menu { display: none; }
    .nav-bar {
      display: block;
      max-height: 72px;
      background-color: white;
    }

    .nav-items {
        display: flex;
        align-items: center;
        transition: 0.1s;
    }

    .nav-items a.nav-item {
        font-weight: bold;
        color: #0F2343;
        margin: 0 .5rem;
        padding: 1.5rem 1rem;
    }

    .nav-bar a.nav-item:hover, .nav-bar a.nav-item:focus, .nav-bar a.nav-item:active {
      box-shadow: inset 0 -66px 0 rgba(231,135,157,0.25);
      transition: box-shadow .25s;
    }
}
