h1, h2, h3, h4, h5 {
    font-family: 'Halant', Helvetica, Arial, Sans-Serif;
}

h1 { font-size: 4rem; }
h2 { font-size: 2rem; }

p { margin-bottom: 1rem; }

.markdown a, .hoc-link {
    text-decoration: none;
    color: inherit;
    border-bottom: .1rem solid black;
    box-shadow: none;
}

.markdown a:hover, .hoc-link:hover {
    font-style: italic;
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 -36px 0 #e7879d;
    transition: box-shadow .25s;
}

nav a {
    border: none;
    box-shadow: none;
}

nav a:hover {
    border: none;
    box-shadow: none;
}

.markdown ul, .markdown li {
    list-style: none;
    text-decoration: none;
}

.hoc {
    font-family: 'Halant', Helvetica, Arial, Sans-Serif;
    font-weight: bold;
}
