/* Tachyons inspired utility classes */

.hoc-icon-list li:before {
  content: " ";
  display: block;
  float: left;
  background: url('/img/hoc-logo-green.svg');
  width: 1.5em;
  height: 1.5em;
  margin-left: -2.25em;
}

.bg-g1 {
    background: linear-gradient(45deg, rgb(88,129,216), rgb(255,106,179))
}

.bg-g2 {
    background: linear-gradient(45deg, rgb(255,106,179), rgb(99,177,50))
}

.bg-g3 {
    background: linear-gradient(45deg, rgb(88,129,216), rgb(255,106,179))
}

.bg-g4 {
    background: linear-gradient(45deg, rgb(88,129,216), rgb(99,177,50))
}

.blend-screen {
    mix-blend-mode: screen;
}
