---
layout: minimal
title:  "Call for Speakers - Heart of Clojure"
permalink: /call-for-speakers
link_class: hoc-link
---

<div class="mw7 ph3 mt6 center lh-copy f4">
  <div class="tc">
    <h1 class="mb3">Call for Speakers</h1>
    <span class="db">Open until March 10th<sup><strike class="pink-t60">3rd</strike></sup>, 2019</span>
  </div>

  <p class="f2-ns f3 tc">We are inviting the extended Clojure/Script community to submit talks for the inaugural
  edition of Heart of Clojure.</p>

  <!-- <p>We are inviting the extended Clojure/Script community to submit talks for the inaugural -->
  <!-- edition of Heart of Clojure (August 2 – 3 2019, Berlin). This call for presentations closes -->
  <!-- midnight <strong>March 3rd</strong> (UTC).</p> -->


</div>

<section class="cf mw9 ph6-ns center">
  <div class="fl w-100 w-50-m w-25-l tc pv4">
    <img src="/img/nucleo/notification.svg" width="48px" class="mb4">
    <span class="db mb3 f2">January</span>
    Call Opened
  </div>
  <div class="fl w-100 w-50-m w-25-l tc pv4 fw6">
    <img src="/img/nucleo/time-alarm.svg" width="48px" class="mb4">
    <span class="db mb3 f2">March 10th<sup><strike class="f5 pink-t60">3rd</strike></sup></span>
    Call Closes
  </div>
  <div class="fl w-100 w-50-m w-25-l tc pv4">
    <img src="/img/nucleo/love-card.svg" width="48px" class="mb4">
    <span class="db mb3 f2">March 24th<sup><strike class="f5 b pink-t60">17th</strike></sup></span>
    Speaker Notifications
  </div>
  <div class="fl w-100 w-50-m w-25-l tc pv4">
    <img src="/img/hoc-logo-green.svg" width="48px" class="mb4">
    <span class="db mb3 f2">August 2nd</span>
    Heart of Clojure
  </div>
</section>

<div class="mw7 pa3 center lh-copy f4">
  <!-- <p>Speakers will be notified by Sunday, <strong>March 17th</strong>.</p> -->

  <p class="tc f3">
    Please read on for more details on the <a class="{{ page.link_class }}" href="#talks">talks
      we're looking for</a>, the <a class="{{ page.link_class }}" href="#selection-process">
      selection process</a>, <a class="{{ page.link_class }}" href="#support">how we can
      help</a>, <a class="{{ page.link_class }}" href="#perks">speaker perks</a> and more.
  </p>

  <div class="tc mv5">
    <a class="link ba br2 bw2 b--pink-t60 hover-bg-pink-t60 hover-white pink-t60 pv3 ph4"
    href="{{ site.cfp_url }}">Submit a Talk Now</a>
  </div>

  <a id="extending-deadline"></a>
  <section class="mv6 pa3 nl3 nr3 bg-translucent-pink ba b--pink-t60 bw3">
    <h2 class="mv0">Extending Our Call for Speakers</h2>
    <p>After deliberating with the program committee we have decided to extend the CFP period
    by one week.</p>

    <p>While we are blown away by the amount and quality of submissions so far, we feel we
    haven’t done enough yet to reach a diverse audience. We want to represent people with many
    different backgrounds, and present a program containing a plurality of topics.</p>

    <p>We already made some efforts during the past CFP period to reach out to different
    communities, but there is still more we can do.  In conversations we also noticed that we
    could have been more explicit in saying that not every submission has to be related to
    Clojure. There are many overarching themes relevant to every community and we want to learn
    from those outside our beloved Clojure bubble.</p>

    <p>As a concrete step we have added an accessibility statement to our site, as we
    understand this is essential information for some to decide if they should submit. In the
    coming days we’ll be reaching out to more groups and individuals to encourage them to put
    in their proposal.</p>

    <p>For people who have already submitted this means you will have to wait a little longer
    before you’ll have news. Please be patient with us. Everyone will get an update in the
    coming weeks.</p>

    <p>Thanks to everyone who submitted already, seeing your excitement and ideas makes all the
    difference. ❤️</p>

  </section>

  <section class="pv5">
    <h2 id="talks">The Talks</h2>
    <p>
      Talks at Heart of Clojure will be 30 minutes including questions. Taking questions is
      optional and you, as a speaker, are free to take questions or use the entire 30 minutes on
      your talk.
    </p>

    <p>
      As we expect attendees to come from all over Europe, all talks have to be primarily in
      English. You may however explain the etymology of non-English words.
    </p>

    <p>
      <strong>What to talk about?</strong> We want Heart of Clojure to go beyond the scope of
      your usual programming language conference. While we are looking forward to many Clojure
      and ClojureScript related talks for <strong>all skill levels</strong>, we are excited
      about crafting a program that also touches on:
    </p>

    <ul class="list hoc-icon-list mv4">
      <li class="mv3"><strong>Creative Coding.</strong> Are you generating art with Clojure? Do you
        use parentheses instead of paint brushes or piano keys? We want to see it! (hear it?
        smell it?) Tell us about your tools and how you use them. Share your creative process
        and show us the result.
      </li>
      <li class="mv3"><strong>Social Impact.</strong> Software is eating the world. That's good
        news for job security, but it also means we have an ever-greater responsibility towards
        society. We are looking for talks that make people think about the impact their work
        can have and inspire them to wield their powers for good.
      </li>
      <li class="mv3"><strong>Technical.</strong> We are looking for people who can make hard
        topics accessible to a broad audience. Come share with us your Clojure experience and
        expertise, your success stories and failures. Did you solve a hard problem at scale?
        Are you developing novel solutions? Did you contribute to the ecosystem? Then come and
        share your work!
      </li>
    </ul>

    <p>
      Great work in these areas happens in many communities, not just Clojure. We are open to
      submissions that have a lesser focus on the Clojure ecosystem.
    </p>

    <p>
      Know of somebody who should be talking to the Clojure community? Please let us know or send
      them our way.
    </p>
  </section>

  <section class="pv5">
    <h2 id="support">Let Us Help</h2>

    <p>
      Speaking at a conference can be intimidating. Finding the right topic or angle on a topic
      can be hard. There are dozens of reasons to talk yourself out of giving a talk at a
      conference. If you are uncertain about your submission or submitting at all we are here
      to help you.
    </p>

    <ul class="list hoc-icon-list mv4">
      <li class="mv3">
        <strong>Brainstorming.</strong> Do you want to give a talk but aren't quite sure what
        about yet? Let's have a chat and find some interesting topics based on your interests and
        background.
      </li>
      <li class="mv3">
        <strong>Mentoring.</strong> We can connect you with experienced speakers who
        can help you by providing feedback on drafts of your proposal and presentation.
      </li>
      <li class="mv3">
        <strong>Rehearsing.</strong> Rehearsal is at the core of every great talk. We can help
        you find a local audience to practice your talk on or an experienced speaker who will
        give you feedback on a remote presentation.
      </li>
    </ul>

    <p>
      If you have any questions at all, please don't hesitate to reach out to {% include
      contact_email.html %}.  We'd love to hear from you.
    </p>

    <p>
      Also check out this great guide
      on <a class="hoc-link" href="https://blog.cssconf.eu/2014/06/12/how-to-write-a-great-talk-proposal-for-a-tech-conference/">how
        to write great talk proposals</a>, written by our friends of CSSConf EU, as well as
      this <a class="hoc-link" href="https://medium.com/spkr/get-your-conference-proposal-accepted-24d92b5504a9">post
        brimming with good advice on how to get your talk accepted</a>.
    </p>

    <div class="tc mt5">
      <span class="pink f5">Thanks to our fantastic mentors:</span>
    </div>
    <ul class="list pl0 relative pb4 tc mw6 ph3 center">
      {% for mentor in site.data.mentors %}
      <li class="hide-child dib pa2">
        <a href="{{ mentor.url }}" target="_blank" rel="noopener">
          <img class="w3 br-100 dib" src="{{ mentor.image }}">
          <div class="w-100 absolute child bottom-0 left-0 tc">
            <span class="pink f5">{{ mentor.name }}</span>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="pv5">
    <h2 id="selection-process">The Selection Process</h2>

    <p>
      The talk selection process for Heart of Clojure is designed to eliminate effects of
      biases while still allowing for a well-balanced selection of talks.
    </p>
    <p>
      Talks will be selected in a two-step process. Firstly all talks are rated in a blind
      review session and only then the Program Committee will have a chance to make adjustments.
    </p>
    <p>
      Once a talk has been submitted there will be a backchannel with the organizers that you may
      use to clarify or update individual aspects of your talk if necessary.
    </p>
  </section>

  <section class="pv5">
    <h2 id="perks">The Perks</h2>

    <p>As a selected speaker you'll get:</p>

    <ul class="list hoc-icon-list mv4">
      <li class="mv3">
        <strong>Up to two free tickets to the conference.</strong> For you and your significant
        other if they would like to join. If you bought a ticket ahead of time you will receive a
        full refund.
      </li>
      <li class="mv3">
        <strong>Accomodation for the duration of the conference.</strong> Depending on
        sponsorships and budget this will be for either 2 or 3 nights. Your accommodation will be
        centrally located and within walking distance of the venue.
      </li>
      <li class="mv3">
        <strong>Travel to Leuven.</strong> We will try to cover as much of your travel costs as
        possible. The specific amount will be decided upon before speakers are notified so you'll
        have all the information you need before accepting to speak.
      </li>
    </ul>

    <p>
      Please reach out to {% include contact_email.html %} if you have any questions regarding
      the above.
    </p>
  </section>

  <div class="tc mv5">
    <a class="link ba br2 bw2 b--pink-t60 hover-bg-pink-t60 hover-white pink-t60 pv3 ph4"
    href="{{ site.cfp_url }}">Submit a Talk Now</a>
  </div>
</div>
