<footer>
  <section>
    <h3 id="coc">Our Code of Conduct</h3>
    <p>
      We want to create a safe and welcoming space for our community members. This means there
      will be no tolerance towards harassment of any kind. By attending Heart of Clojure you
      agree to our <a class="hoc-link" href="https://berlincodeofconduct.org/">Code of
      Conduct</a>. Please read and adhere to it.
    </p>
  </section>

  <section class="backoffice">
    <div>
      <h3>Program Committee</h3>
      {% for member in site.data.program_committee %}
        <p>{{member}}</p>
      {% endfor %}
      <h3>Reviewers</h3>
      {% for member in site.data.reviewers %}
        <p>{{member}}</p>
      {% endfor %}
    </div>
    <div class="organizers">
      <h3>Organizers & Contact</h3>
      <p>Arne Brasseur, <a class="hoc-link" href="mailto:arne.brasseur@gmail.com">arne.brasseur@gmail.com</a></p>
      <p>Martin Klepsch, <a class="hoc-link" href="mailto:martinklepsch@gmail.com">martinklepsch@gmail.com</a></p>
    </div>
  </section>
  <h5>© 2019 Heart of Clojure Conference</h5>
</footer>
