<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
  <meta content="Heart of Clojure is a new Clojure conference coming to Leuven, Belgium, on 2 and 3 August 2019" itemprop="description" name="description" />
  <title>Heart of Clojure – A new Clojure conference coming to Leuven, Belgium, on 2 and 3 August 2019</title>
  <link rel="shortcut icon" type="image/x-icon" href="/heartofclojure.ico" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
