<nav class="nav-down">
  <div class="nav-bar">
    <div class="nav-items">
      <a class="link nav-home" href="/">
        <img src="/img/hoc-logo-white.svg" />
        <span>Heart of Clojure</span>
      </a>
      <a class="nav-item db link white" href="/location">Location</a>
      <a class="nav-item db link white" href="/call-for-speakers">Call for Speakers</a>
    </div>
  </div>

  <div class="nav-menu">
    <div class="nav-menu-wrapper">
      <a class="link nav-home" href="/">
        <img src="/img/hoc-logo-white.svg" />
        <span>Heart of Clojure</span>
      </a>
    </div>
    <div class="nav-menu-options tc">
      <a class="link db pv3 black" href="/location">Location</a>
      <a class="link db pv3 black" href="/call-for-speakers">Call for Speakers</a>
    </div>
  </div>
</nav>
