<nav class="nav-down">
  <div class="nav-bar w-100 tc">
    <div class="nav-items justify-center">
      {% for nav in site.data.nav %}
        <a class="nav-item db link white" href="{{ nav.path }}">{{ nav.title }}</a>
      {% endfor %}
        <!-- <a class="db bg-pink-t60 pa3 br2 white b link" href="{{site.tickets_url}}">Get your ticket</a> -->
    </div>
  </div>

  <div class="nav-menu w-100">
    <div class="flex">
      <a class="link nav-home pa2 flex-grow-1" href="#">
        <span class="pa3 db b black">Menu</span>
      </a>
      <!-- <div class="pa2">
           <a class="db bg-pink-t60 pa3 br2 white b link" href="{{site.tickets_url}}">Get your ticket</a>
           </div> -->
    </div>
    <div class="nav-menu-options tc">
      {% for nav in site.data.nav %}
        <a class="link db pv3 black" href="{{ nav.path }}">{{ nav.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
