<nav class="nav-down">
  <div class="nav-bar">
    <div class="nav-items">
      {% for nav in site.data.nav %}
        <a class="nav-item db link white" href="{{ nav.path }}">{{ nav.title }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="nav-menu">
    <div class="nav-menu-wrapper">
      <a class="link nav-home pa3" href="/">
        <span>Menu</span>
      </a>
    </div>
    <div class="nav-menu-options tc">
      {% for nav in site.data.nav %}
        <a class="link db pv3 black" href="{{ nav.path }}">{{ nav.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
