<title>{{page.title | default: "Heart of Clojure, a new conference for the Clojure community"}}</title>
<meta name="title" content="{{page.title | default: "Heart of Clojure, a new conference for the Clojure community"}}">
<meta name="description" content="Heart of Clojure is a new conference happening in Belgium on 2&3 August 2019. Beyond Clojure we are looking for talks on creativity, social issues and more. CFP closes March 3rd. ">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://heartofclojure.eu/">
<meta property="og:title" content="{{page.title | default: "Heart of Clojure, a new conference for the Clojure community"}}">
<meta property="og:description" content="{{ page.og_description | default: "Heart of Clojure is a new conference happening in Belgium on 2&3 August 2019. Beyond Clojure we are looking for talks on creativity, social issues and more. CFP closes March 3rd."}}">
<meta property="og:image" content={{ page.og_image | default: "https://heartofclojure.eu/img/social/hoc-twitter.png"}}>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://heartofclojure.eu/">
<meta property="twitter:title" content="{{page.title | default: "Heart of Clojure, a new conference for the Clojure community"}}">
<meta property="twitter:description" content="{{ page.og_description | default: "Heart of Clojure is a new conference happening in Belgium on 2&3 August 2019. Beyond Clojure we are looking for talks on creativity, social issues and more. CFP closes March 3rd."}}">
<meta property="twitter:image" content={{ page.og_image | default: "https://heartofclojure.eu/img/social/hoc-twitter.png"}}>
