<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}

    <div>
      <header class="tc relative overflow-auto">
        <img class="db h5 pt6 center" src="/img/hoc-logo-white.svg" />
        <div id="gradient" class="absolute top-0 left-0 right-0 bottom-0"></div>

        <div class="tc mv5">
          <a class="{{site.classsets.button_non_white_bg}} dib" href="{{ site.cfp_url }}">Become a Speaker</a>
          {% if site.tickets_enabled %}
          <a class="{{site.classsets.button_non_white_bg}} dib" href="{{ site.tickets_url }}">Tickets available soon!</a>
          {% else %}
          <a class="link ba br2 bw2 f4 b--transparent b white pv3 ph4 mh3 dib">Tickets available soon!</a>
          {% endif %}
        </div>
      </header>

      <div class="mv5">
        {% if page.is_markdown %}
          <div class="markdown lh-copy f4 mw7 center">
            {{ content }}
          </div>
        {% else %}
          <div class="lh-copy f4">
            {{ content }}
          </div>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}
    {% include footer_scripts.html %}
  </body>
</html>
