<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}

    <div class="grid">
        <header>
            <div>
              <img class="one" src="img/heart.svg" />
              <img class="five"src="img/heart.svg" />
            </div>
            <img class="two" src="img/heart.svg" />
            <img class="three"src="img/heart.svg" />
            <img class="header-image" src="/img/hoc-logo-white.svg" />
            <div id="gradient"></div>
            <img class="four" src="img/heart.svg" />
            <div>
              <img class="five" src="img/heart.svg" />
              <img class="one" src="img/heart.svg" />
            </div>
            <img class="six" src="img/heart.svg" />
        </header>

        <div class="main">
          <div class="markdown lh-copy f4">
            {{ content }}
          </div>
        </div>
    </div>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="js/gradient.js"></script>

  </body>
</html>
