<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}

    <div class="grid">
        <header class="ph7-ns">
            <img class="header-image" src="/img/hoc-logo-white.svg" />
            <div id="gradient"></div>
        </header>

        <div class="main">
          <div class="markdown lh-copy f4">
            {{ content }}
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="js/gradient.js"></script>
  </body>
</html>
